<div id="footer">
  <div class="block">
		<ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li>Copyright &copy; <%= Time.now.year %> Lexi.</li>
    </ul>
  </div>      
</div>